@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

@import "./assets/SCSS/variables";
@import "./Components/UI/Nav/nav";
@import "./Components/UI/Sidebar/sidebar";
@import "./Components/UI/Forms/forms";
@import "./Components/UI/Modal/modal";
@import "./Components/Cards/cards";
@import "./Pages/Category/category";
@import "./Pages/TypeCategory/typecategory";

body {
  margin: 0;
  font-family: $font-family;
  line-height: 1.5;
  color: #22242a;
  text-align: left;

  .fa {
    font-size: 20px;
  }

  .wrapper {
    align-items: stretch;
    display: flex;
    overflow: hidden;
    width: 100%;
    position: relative;
    min-height:100vh;
    
    .main {
      width: 100%;
      min-height: 100vh;
      min-width: 0;
      background: #f4f7fa;
      margin-left: 185px;

      &.closed { margin-left: 0px; }
      
      .content {
        padding: 65px 15px 0 15px;
      }
    }
  }
}

input[type='text'],
input[type='number'],
input[type='email'],
input[type='password'],
select {
  border: 1px solid #dedede;
  border-radius: 2px;
  display: block;
  // font-size: 12px;
  padding: 5px;
  width: 100%;
}

.fa {
  font-size: $font-size-fa;
}

.chart-liner {
  width: 650px;
}

@media screen and (max-width: 600px) {
  body {
    .wrapper {
      .main {
        margin-left: 0px;
      }
    }
  }
}