.footer {
    color: #6d6d6d;
    padding: 32px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 185px;
    background-color: #f4f7fa;
}

@media screen and (min-width: 600px) {
    .footer {
        margin-left: 0px;
    }
}